<footer>
        <div class="row background">
            <div class="col col-footer-menu ">
                <ul class="menu">
                <h2 class="footertitre">Liens supports</h2>
                    <li class="lifooter">
                        <a><i class="fa-solid fa-phone"></i> 06 66 33 73 00</a>
                    </li>
                    <li class="lifooter">
                        <a href="#">FAQ</a>
                    </li>
                    <li class="lifooter">
                        <a href="#">Mentions légales</a>
                    </li>
                    <li class="lifooter">
                        <a href="#">Politique de confidentialité</a>
                    </li>
                    <li class="lifooter">
                        <a href="#">CGV</a>
                    </li>
                </ul>
            </div>
            <div class="col col-footer-social reseaux">
            <h2 class="footertitre">Nos réseaux</h2>
                <a href="{{path('form') }}">
                    <i class="fa-solid fa-envelope mailing"> Nous contacter</i>
                </a>
                <a href="https://www.instagram.com/?hl=fr">
                    <i class="fa-brands fa-instagram insta"> Instagram</i>
                </a>
                <a href="https://open.spotify.com/">
                    <i class="fa-brands fa-spotify spoti"> Les playlists</i>
                </a>
                <a href="https://www.youtube.com/watch?v=tHYUXJIaUkQ">
                    <i class="fa-brands fa-youtube youtube"> Youtube</i>
                </a>
            </div>
        </div>
</footer>