{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}


<section class="container subcart">

<div class="card text-center mt-3 mb-3 " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Sans engagement !</h5>

    <p>19.95€ <br>Le premier mois <br>puis 29,95€</p>
    <p class="card-text">Profitez de tous les avantages des meilleurs équipements et coachs a un tarif réduit et sans contrainte 24/7 !</p>
    <a href="https://buy.stripe.com/test_aEU2a19FzaE80akeUU" class="btn regiinsc btn-primary">S'abonner</a>
  </div>
</div>





</section>











{% endblock %}